.containerMain{
    background-color: white;
    height: 500px;
    width: 700px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
    font-family: 'Be Vietnam Pro';
    background-image: url("../Image/4.jpg");
    .quesTion2
    {
        margin-top: 20px;
        ul
        {
            list-style: none;
           li
           {
            
            div
            {
                float: left;
                margin-right: 10px;
                p
                {
                    text-decoration: none;
                    font-size: 30px;
                    font-family: "Dancing Script", cursive;
                    font-weight: bold;
                    font-style: normal;
                     color: #544e4e;
                     font-size: 45px;
                }
            }
           }     
        }
    }
    .result
    {
        margin-top: 20px;
        border-bottom: 3px solid;
        width: 100%;
        border-color: #000000;
        h1
        {
            font-family: "Dancing Script", cursive;
            font-weight: bold;
            font-style: normal;
            color: #e84f4f;
            font-size: 80px;
        }
    }
    button
    {
        background-color: rgb(105, 163, 198);
        border-radius: 10px;
        width: 200px;
        height: 80px;
        box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
        margin-bottom: 20px;
    }
    .titleQuest
    {   
       
        width: 700px;
        height: 100px;
        padding: 10px;
        text-align: left;
        padding-left: 35px;
        word-wrap: break-all;
        h1{
            font-size: 25px;
            font-weight: bold;
            color: rgb(0, 0, 0) ;

        }
        border-bottom: 1px solid;
        padding-bottom: 20px;
        border-color: black;
       button{
         height: 10px;
         width: 10px;
       }
     }
     .quesTion
     {
        
        justify-content: center;
        align-content: center;
        display: flex;
        flex-direction: column;
        padding-right: 30px;
        height: 70%;
        ul{
            list-style: none;
            @for $i from 1 through 4 {
                .quest#{$i}
                {
                    word-wrap: break-all;
                    border-width: 30px;
                    border-radius: 10px;
                    border-color: rgb(177, 188, 188);
                    padding-left: 10px;
                    height: fit-content;
                    width: fit-content;
                    background-color: rgb(232, 226, 226);
                    width: 700px;
                    height: 70px;
                     border: 2px solid;
                     border-color:black ;
                    text-align: left;
                    padding-bottom: 20px;
                    margin: 10px;
                    &:hover{
                        background-color: rgb(100, 209, 158) !important;
                        cursor: pointer;
                    }
                    p{
                        color: #000000;
                    }

                }
            }
          
        }
     }
     .divli{
        display: flex;
        flex-direction:row ;
        width: 700px;
        align-items: center;
        justify-content: center;
     }
}